/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/jetbrainsmono-400.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/jetbrainsmono-500.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/jetbrainsmono-600.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/jetbrainsmono-700.ttf) format('truetype');
}

/* Syne */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/syne-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/syne-600.ttf) format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/syne-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url(fonts/syne-800.ttf) format('truetype');
}
